section.order-groww {
    padding: 100px 0;
}
section.order-groww a.nav-link {
    font-weight: 700 !important;
    border-bottom: 3px solid transparent !important;
}
.order-groww .nav-tabs .nav-item .nav-link:before {
    display: none;
}
.order-groww .nav-tabs .nav-item .nav-link.active {
    border-bottom: 3px solid #2e7eed !important;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link {
    border: none;
	font-size: 17px;
    font-weight: 500;
	color:#495057;
}
a.nav-link.active {
    color: #2e7eed !important;
    border-bottom: 3px solid #2e7eed !important;
}
 /* Stocks */
.Stocks-content {
    margin-left: 32%;
}
.Stocks-content h1{
	font-size: 16px;
    font-weight: 500;
    letter-spacing: .22px;
	margin-bottom: -26px;
}
.Stocks-content span{
	font-size: 40px;
    font-weight: 500;
    letter-spacing: .55px;
}
.Stocks-content p{
	font-size: 16px;
    opacity: .7;
    line-height: 23px;
    letter-spacing: .21px;
    color: var(--text);
    margin-top: 22px;
}
.stocks-button {
    margin-left: 32%;
    margin-top: 36px;
}
.stocks-button a {
    display: inline-block;
    font-weight: 500;
    border-radius: 4px;
    white-space: nowrap;
    text-decoration: none;
    background:#2e7eed;
    padding: 10px 62px;
	color:white;
}

    /* Mutual Funds */

.Mutual-content {
    margin-left: 32%;
}
.Mutual-content h2 {
    font-size: 20px;
}
.Mutual-content p{
	font-size: 14px;
    line-height: 21px;
    letter-spacing: .44px;
    color: var(--subText);
    width: 280px;
   margin-top: 22px;
}

	/* fixed Funds */

.Fixe-img {
	text-align:center;
}
.Fixe-img p{
	font-size: 18px;
    text-align: center;
	color:#7c7e8c;
	font-weight: 500;
}
