.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link {
    border: none;
	font-size: 17px;
    font-weight: 500;
	color:#495057;
}
a.nav-link.active {
    color: #2e7eed !important;
    border-bottom: 3px solid #2e7eed !important;
}
.Popular-Funds h2 {
   font-size: 21px;
    font-weight: 500;
    letter-spacing: -.23px;
    color: #44475b;
}
span.ff a{
	border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.16px;
    color: #2e7eed;
	margin-left: 60%;
}
.Funds-box{
	box-shadow: 0 1px 7px 0 #ecedef;
    min-height: 165px;
    min-width: 100px;
    width: 100%;
    transition: transform .3s ease;
    transform: perspective(1px) scale(1);
    border-radius: 8px;
	padding: 10px 6px;
	margin-top: 10%;
}
.fund-content img{
	position: absolute;
    left: 18px;
    top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ecedef;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    background: var(--constantWhite);
}
.fund-content p{
	font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: .19px;
    color: #44475b;
    margin: 55px 12px;
	margin-bottom: 25px;
}
.fund-content h2{
	font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #44475b;
    margin: 0px 12px;
}
.fund-content span{
	opacity: .7;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #7c7e8c;
}
.Handpic h2{
	font-size: 21px;
    line-height: 1.53;
    letter-spacing: -.28px;
	font-weight: 500;
    color: #44475b;
	margin-top: 7%;
}
.handpic-icons {
    text-align: center;
    margin-top: 26%;
}
.handpic-icons a i {
    text-align: center;
    font-size: 40px;
    color: #2e7eed;
}
.handpic-icons h1{
	font-size: 12px;
    line-height: 2.35;
    letter-spacing: -.18px;
    text-align: center;
    margin-top: 16px;
}
.handpic2-box {
    padding: 42px 0px;
    border-radius: 10px;
    background: #edf4ff;
    justify-content: space-around;
    margin-top: 62px;
    border: 1px solid #ecedef;
    margin-bottom: 40px;
}
.handpic2-box h1 {
    font-size: 11px;
    text-align: center;
    color: #44475b;
    margin-top: 17px;
    text-transform: uppercase;
    -webkit-font-smoothing: auto;
    font-weight: 600;
}
.Attention-box{
	position: relative;
    max-width: 275px;
    min-width: 150px;
    height: 416px;
    border-radius: 5px;
    float: right!important;
    padding: 20px;
    margin-bottom: 60px;
    border: 1px solid #ecedef;
	box-shadow: 0 1px 10px 0 #ecedef;
	text-align:center;
	margin-top: 31%;
}
.content {
    margin-top: 7%;
}
.content img{
	margin-bottom:36px;
}
.content h2{
	font-size: 20px;
    font-weight: 500;
    letter-spacing: .22px;
	margin-bottom: -12px;
}
.content p{
	font-size: 16px;
    opacity: .7;
    line-height: 23px;
    letter-spacing: .21px;
    color: var(--text);
    margin-top: 22px;
}
.Attention-button {
    margin-top: 4%;
}
.Attention-button a {
    display: inline-block;
    font-weight: 500;
    border-radius: 4px;
    white-space: nowrap;
    text-decoration: none;
    background: #2e7eed;
    padding: 6px 21px;
    color: white;
}
.video-groww h2 {
    font-size: 21px;
    -webkit-font-smoothing: auto;
    letter-spacing: .5px;
    margin: 30px -16px 17px;
    font-weight: 600;
}
.video-imgs {
    background: white;
	border-radius: 6px;
	box-shadow: 0 1px 7px 0 #ecedef;
    border: 1px solid #ecedef;
	margin-bottom: 24%;
}
.video-imgs h1 {
    font-size: 15px;
    margin: 0;
    text-align: center;
    color: #44475b;
    height: 60px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 15px;
}


.video-main {
    background: #edf4ff;
	
}
.video-main .row {
    width: 100%;
}
.video-imgs img {
    width: 100%;
	border-radius: 6px;
	box-shadow: 0 1px 7px 0 #ecedef;
    border: 1px solid #ecedef;
}

















