
.tab {
    margin-top: 30px;
}
.tab button {
    display: block;
    background-color: inherit;
    color: #000;
    padding: 13px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #2e7eed;
  color: #fff;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #2e7eed;
  color: #fff;
}

/* Style the tab content */
.tabcontent {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px -4px #000;
    border-radius: 20px;
    padding: 25px 20px;
    background: url('images/tab-bg.svg');
}
section.user {
    width: 100%;
    float: left;
    padding: 100px 0;
}
.user-left {
    background: #edf4ff;
    border-radius: 20px;
    box-shadow: 0px 0px 6px -3px #000;
    padding: 20px 0px;
    float: left;
}
.profile {
    text-align: center;
}
.profile img {
    width: 40%;
}
.profile h4 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
}
span.details {
    float: right;
    font-size: 12px;
}
input.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
input.form-control::placeholder {
    color: #ccc;
}
/* Chrome, Safari, Edge, Opera */
.form-group input::-webkit-outer-spin-button,
.form-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-group input[type=number] {
  -moz-appearance: textfield;
}
.form-group label {
    font-size: 14px;
}
input.form-control.submit-btn {
    background: #2e7eed;
    color: #fff;
    width: 45%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    height: 40px;
    margin-top: 30px;
}
input.form-control.submit-btn:hover {
    background: #00315d;
}



.accordion .item {
    border: none;
    background: none;
    cursor: pointer;
}
.accordion .item .item-header h2 button.btn.btn-link {
    color: #000;
    font-size: 16px;
}
.accordion .item .item-header {
    border-bottom: none;
    background: transparent;
    padding: 0px;
    margin: 2px;
}

.accordion .item .item-header h2 button {
    color: white;
    font-size: 20px;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: left;
}

.accordion .item .item-header h2 i {
    color: #000;
    float: right;
    margin-top: 20px;

}
h2.mb-0.collapse-heading.collapsed i {
  transform: rotate(0deg);
  transition: .5s;
}
h2.mb-0.collapse-heading i {
    transform: rotate(180deg);
    transition: .5s;
}
h2.collapse-heading {
    user-select: none;
    font-size: 15px;
    color: #adadad;
    cursor: pointer;
    font-weight: 500;
}
.filing h3 {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 11px;
    font-size: 16px;
    font-weight: bold;
}
.year h6 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}
.download a {
    width: 100%;
    display: inline-block;
    background: #2e7eed;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    font-weight: 600;
}
div#Nominee img {
    width: 35%;
}

div#Nominee {
    padding: 85px 0;
    text-align: center;
}
div#Nominee h5 {
    font-weight: 500;
    color: #ccc;
    margin-top: 20px;
}
div#basic .form-group {
    margin-top: 20px;
}





/*
=================== filter-page-style ==============*/

/*
====== style-checkbox ==== */
section.checkbox {
    padding-top: 100px;
}
.Filter-Main {
    width: 300px;
    border: 1px solid #ecedef;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 #ecedef;
    float: left;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.Filter-Text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 0;
}
.Filter-Text h1{
  font-size: 15px;
  color:black;
  font-weight: 500;
  letter-spacing: .3px;
}
.Filter-Text span {
    font-size: 13px;
    font-weight: 500;
    color: #2e7eed;
    margin-left: 156px;
    cursor: pointer;
}

.container button.btn.btn-info {
    color: black;
    background: white;
    border: none;
    width: 100%;
    text-align: left;
}
a.tabs-heading {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    margin-top: 16px;
}
.tabs-heading i {
    float: right;
}
.row.filter-box .container {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}
input.search_input {
    border: 1px solid #ecedef;
    padding: 6px 5px;
    width: 100%;
    box-shadow: none;
    outline: none;
    background: var(--primaryBg);
    color: var(--text);
    margin-top: 7px;
    margin-bottom: 6px;
    padding-left: 30px;
    font-size: 14px;
}
.filter-box .form-group {
    cursor: pointer;
    margin-bottom: 6px;
}
.filter-box .form-group input {
    cursor: pointer;
}
.search-box {
    position: relative;
}
.search-box i {
    position: absolute;
    left: 7px;
    top: 17px;
    color: #bdbcbc;
}
.overflow-scrol{
  margin-top: 8px;
    max-height: 205px;
    overflow-y: scroll;
}
.checkbox-list span {
    font-size: 15px;
    margin-left: 6px;
}



/* right-side */

h1.funds-heading {
    font-size: 15px;
    font-weight: 600;
}
.mutual-funds-body {
    padding: 0px 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.pills-body {
    border-bottom: 1px solid #ccc;
    padding: 12px 0px;
    margin: 0 -13px;
    cursor: pointer;
    transition: .5s;
}
.pills-body:hover {
    transform: scale(1.02);
}
.pills-body:hover h2.tech {
    color: #2e7eed;
}
.plan img {
    width: 20px;
    float: left;
    margin-right: 10px;
}
.plan-body {
    float: left;
}
.plan-body h2 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 20px;
}
.plan-body p {
    font-size: 13px;
}
.plan-body {
    float: left;
}
.plan-body h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 20px;
}
.plan-body p {
    font-size: 13px;
}



/*
============== groww-watchlist-page-style ======================== */
section.groww-watchlist {
    padding: 100px 0;
}
.groww-watchlist .nav-tabs {
    border-bottom: none;
}
.groww-watchlist .nav-tabs .nav-link {
    border: none;
    font-size: 17px;
    font-weight: 700;
    color: #495057;
    border-bottom: 3px solid transparent;
}
.groww-watchlist a.nav-link.active {
    color: #2e7eed !important;
    border-bottom: 3px solid #2e7eed !important;
}
.groww-watchlist .main-box {
    border: 1px solid #ecedef;
    padding: 14px 0px;
    border-radius: 6px;
    margin-right: 50px;
    padding-bottom: 0;
}
.groww-watchlist a.dropdown-toggle {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.groww-watchlist button.btn.btn-primary.dropdown-toggle {
    background: white;
    color: black;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
.groww-watchlist .dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 1px 10px 0 #ecedef;
    border: 1px solid #ecedef;
    width: 100%;
    padding: 11px 14px;
}
.groww-watchlist .dropdown-menu h2 {
    font-size: 16px;
}
.groww-watchlist .icons i {
    color: #2e7eed;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 9px 13px;
    border-radius: 5px;
    width: 50px;
    float: left;
}
.groww-watchlist .icons a {
    text-decoration: none;
}
.groww-watchlist .icons {
    width: 100%;
    float: left;
    padding: 12px 14px;
}
.groww-watchlist .icons:hover {
    background: #f7f6f6b3;
}
.groww-watchlist .icons a span {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.groww-watchlist span.watching-heading {
    color: #2e7eed !important;
    position: relative;
    top: 10px;
}
.groww-watchlist span.items {
    font-weight: 400 !important;
    color: #afafaf !important;
}
.groww-watchlist .icons i{
    margin-right:11px;
}
.groww-watchlist .example input {
    background: white;
    border-radius: 3px;
    border: 1px solid #ecedef;
    width: 100%;
    box-shadow: 0 1px 10px 0 #ecedef;
    height: 38px;
    text-align: left;
    padding: 0px 16px;
    margin-left: -17px;
}
.groww-watchlist .example input:focus {
    outline: none;
}
.groww-watchlist .heading {
    margin-top: 25px;
    text-align: end;
}
.groww-watchlist .heading h1 {
    font-size: 12px;
    padding: 0px 15px;
    color: #cccdd0;
    font-weight: 600 !important;
    margin-bottom: 0;
}
h1.name {
    position: relative;
    top: 15px;
}
.groww-watchlist .list-item {
    padding: 15px 15px;
}
.groww-watchlist i.fa.fa-bars {
    color: black;
    margin-right: 19px;
}
.groww-watchlist span.ff {
    color: black;
}
.groww-watchlist .list-icons img {
    width: 70%;
}
.groww-watchlist .list-text {
    margin-top: -6px;
}
.groww-watchlist .list-text.rates h2 {
    width: 50%;
    float: left;
    text-align: center;
}
.groww-watchlist .list-text.rates h2.rate2 {
    text-align: end;
}
.groww-watchlist .list-btn {
    text-align: center;
    display: none;
    transition: .5s;
}
.groww-watchlist .list-item:hover {
    background: #efefef7a;
}
.groww-watchlist .list-item:hover .list-btn {
    display: block;
    transition: .5s;
}
.groww-watchlist .list-text.rates{
    transition: .5s;
}
.groww-watchlist .list-item:hover .list-text.rates {
    display: none;
    transition: .5s;
}
.groww-watchlist .list-btn button {
    font-size: 20px;
    font-weight: 600;
    background: #2e7eed;
    color: #fff;
    padding: 1px 13px;
    margin: 0 7px;
    border: 1px solid #2E7EE8;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.groww-watchlist .list-btn button:hover {
    transform: scale(1.1);
}
.groww-watchlist .list-text h2 {
    font-size: 15px;
    margin-bottom: -13px;
    font-weight: 600;
}
.groww-watchlist .list-text p {
    color: #2e7eed;
    margin: -5px 28px;
}
.groww-watchlist .list-item {
    padding: 15px 15px;
    border-top: 1px solid #ecedef;
    cursor: pointer;
    transition: .5s;
}
.groww-watchlist .invest{
    position: relative;
    max-width: 350px;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 1px 10px 0 #ecedef;
    float: right;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ecedef;
    text-align:center;
}
.groww-watchlist .invest img {
    margin-bottom: 6px;
}
.groww-watchlist .invest h1{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .22px;
    margin-bottom: -12px;
}
.groww-watchlist .invest p{
    font-size: 16px;
    opacity: .7;
    line-height: 23px;
    letter-spacing: .21px;
    color: var(--text);
    margin-top: 22px;
}
.groww-watchlist .look-button a{
    display: inline-block;
    font-weight: 500;
    border-radius: 4px;
    white-space: nowrap;
    text-decoration: none;
    background:#2e7eed;
    padding: 10px 62px;
    color:white;
}

 /* watchlist */
.groww-watchlist .watchlist-content {
    margin-left: 32%;
}
.groww-watchlist .watchlist-content h2 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .22px;
    margin-bottom: 21px;
}
.groww-watchlist .watchlist-content p{
    font-size: 16px;
    opacity: .7;
    line-height: 23px;
    letter-spacing: .21px;
    color: var(--text);
    margin-top: 22px;
}
.groww-watchlist .watchlist-content {
    margin-left: -7%;
    margin-top: 36px;
}
.groww-watchlist .watchlist-content a {
    display: inline-block;
    font-weight: 500;
    border-radius: 4px;
    white-space: nowrap;
    text-decoration: none;
    background:#2e7eed;
    padding: 10px 62px;
    color:white;
}
.groww-watchlist .nav-tabs .nav-item .nav-link:before {
    display: none;
}



